#card {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
#card-image {
  padding: 5%;
  object-fit: cover;
}
#card-content {
  display: inline-flex;
  margin-inline: 5% 5%;
  writing-mode: horizontal-tb;
}
#intro-card-text {
  margin-top: auto;
  margin-bottom: auto;
  color: darkslategray;
}
#intro-card-title {
  margin-right: auto;
  margin-left: auto;
  color: darkslategray;
}
