@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  font-family: 'Titillium Web', serif;
  font-size: 24px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
} 

  /* Footer Styles */
.footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
  .footer p {
  margin-bottom: 0;
  }


.social-icons {
  display: flex;
  justify-content: flex-end;
}
.social-icons li {
  margin-right: 10px;
}
.social-icons a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
/* Hover effect for social icons */
.social-icons a:hover {
  color: #17a2b8;
}
