.accordion-button {
    background-color: gray !important;
  }
  
  .accordion-button:focus {
    box-shadow: none;
  }
  
  .accordion-button:not(.collapsed) {
    color: #212529;
  }
  .accordion-home {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  /* Footer Styles */
.footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
  .footer p {
  margin-bottom: 0;
  }


.social-icons {
  display: flex;
  justify-content: flex-end;
}
.social-icons li {
  margin-right: 10px;
}
.social-icons a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
/* Hover effect for social icons */
.social-icons a:hover {
  color: #17a2b8;
}

.card{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  size: 120px, 90px;
  color: rgb(26, 151, 103);
}
.card-image{
  padding: 5%;
  object-fit: contain;
}
.card-body{
  background-color: darkslategray;
}